
@{
    ViewBag.Title = "NklCustomerDetail";
}

<h2>Thong tin khach hang</h2>
<div class="alert alert-danger">
    <h3>Mã số: @ViewBag.customer.CustomerId</h3>
    <p>Họ và tên: @ViewBag.customer.FirstName @ViewBag.customer.LastName </p>
    <p>Mã số: @ViewBag.customer.Address</p>
    <p>Mã số: @ViewBag.customer.YearOfBirth</p>


</div> 

