
@{
    ViewBag.Title = "Danh sach khach hang";
    var list = ViewBag.list;
    int stt = 0;
}

<h2>Danh sach khach hang</h2>
<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Mã số</th>
                <th>Họ tên </th>
                <th>Địa chỉ</th>
                <th>Năm sinh</th>
                <th>Chức năng</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in list)
            {
                stt++;
                <tr>
                    <td>@stt</td>
                    <td>@item.CustomerId</td>
                    <td>@item.FirstName @item.LastName</td>
                    <td>@item.Address</td>
                    <td>@item.YearOfBirth</td>
                    <td>
                        <a href="#">Edit</a>
                        <a href="#">Delete</a>

                    </td>
                </tr>

            }

        </tbody>
    </table>
</div>

