@model Nkl.Lab04.Models.Customer

@{
    ViewBag.Title = "Chi tiết khách hàng";
}

<h2>Chi tiết khách hàng</h2>
<p>Mã số: @Model.CustomerId </p>
<p>Họ và tên: @Model.FullName </p>
<p>Địa chỉ: @Model.Address </p>
<p>Điện thoại: @Model.Phone </p>
<p>Email: @Model.Email </p>
<p>Số tiền dư: @Model.Balance </p>
